/* ------------ABOUT-------------- */
/* body{
    height: 100%;
    display: flex;
    display: grid;
    grid-template-rows: auto 1fr auto;
} */
.container{
   margin-bottom: 30rem;
   display: flex;
   align-items: center;
   justify-content: center; 
   align-self: center;

   
}
.contenedor{
    width: 100vw;
}
.about-container{
     width: 100rem; 
  
    justify-self: center;
    overflow-x: hidden;
}
.about-title{
    color: #d5d5d5;
    font-size: 9em;
     text-align: center;
     font-family: 'Roboto Condensed', sans-serif;
     font-weight: bold;
     margin: 5rem;
}
.accordion-button{
    color: var(--violeta);
    font-size: 2rem !important;
    font-weight: bold;
    /* width: 100rem; */
     font-family: "Roboto", sans-serif;
     font-weight: bold;
}
.accordion-body{
    font-size: 2rem;
    background-color: #f7f7f7d0;
    padding: 10rem;
}
 strong, i{
    font-size: 2rem;
    color: rgb(20, 20, 20) !important;
}

/* -----------------FOOTER------------------------- */

.about-bg{
    width: 5rem;
}
.cuadro-about{
    width: 50%;
    transform: rotateZ(-20deg);
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -70rem;
    margin-top: 10rem;
    z-index: -10;
}
