*{
   font-size: 10px;
    margin: 0;
    padding: 0;
    --naranja: #e28242;
    --naranja-claro: #e29461;
    --violeta: #2d284b;
    --violeta-claro: #3a345a;
};


/* fuentes */
/* 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
/* body {
  min-width: fit-content;
} */

@font-face{
    font-family: 'Gobold';
    src:  local("Gobold_Regular.ttf")
    url('fonts\Gobold\Gobold_Regular.ttf') , format('truetype');
  };
  @font-face {
    font-family: 'Gobold-bold';
    src:  url('fonts\Gobold\Gobold Bold.ttf') , format('truetype');
  };
  @font-face {
    font-family: 'Gobold';
    src: url('Gobold_Regular.ttf');
    src: local('&#9786;'),
           url('GraublauWeb.woff') format('woff'), 
           url('GraublauWeb.ttf') format('truetype');
  }
nav{
  height: 10rem;
  width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
}
nav a{
  color: var(--violeta);
  margin-left: 4rem;
  font-size: 2em;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  
}
.logo-nav{
  width: 20rem;
  margin: 2rem;
}
.nav-right{
position: absolute;
right: 0;
top: 0;display: flex;
flex-direction: row;
margin-top: 0.5rem;
margin-right: 0;
}
.flag{
  width: 2rem;
}
/*-------------------------HERO.---------------------- */
  header{
    width: 100vw;
    height: 90vh;
    
  }
  .carousel-mobile{
    display: none;
  }
  .carousel-item{
    height: 95vh;
  }
.item{
  height: 95vh;
  overflow: hidden;
}
.portada-mobile{
  display: none;
}
.suscribe, .banner{
  position: absolute; 
  /* z-index: 100; */
  bottom: 0;
  margin-bottom: 8rem;
  margin-right: 10rem;
  right: 0;
}
.slide1, .slide2{
  position: relative;
  box-shadow:  4px 11px 11px #00000029;
  height: 95vh;
}

.slide-item{
  display: grid;
  width: 100%;
  height: 95vh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  background-color: white;
}
.slide-rigth{
  justify-self: flex-start;
  grid-column: 2/3;
  background-image: url("./assets/proximamente_esp.png");
  background-position: right;

}
.slide-rigth-eng{
  background-image: url("./assets/proximamente_eng.png");
}

.slide-left{
  grid-column: 1/2;
  background-image: url("./assets/Portada\ Landing.png");
  background-position-y: bottom;
  background-position-x: left;
}
.slide-left, .slide-rigth{
  width: 50vw;
  height: 95vh;
  background-size: contain;
  background-repeat: no-repeat;
}
/*----------------------- SLIDE2 ---------------*/
.banner{
  display: flex;
  /* align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end; */
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url("./assets/Fondo\ Banner.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.banner_mobile{
  display: none;
}
.carousel-control-prev, .carousel-control-next{
  z-index: 1000 !important;
}
.banner_text{
  display: block;
  width: 100%;
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.banner_text_spa{

  background-image: url("./assets/title_slide2_esp.png");

}
.banner_text_eng{
 
  background-image: url("./assets/Banner_fondo_eng.png");

}
.banner-btn{
  background-color: var(--naranja) !important;
  width: 15rem;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5%;
  margin-bottom: 5%;
}
.banner-btn a{
  color: white;
  font-size: large;
  font-family: Gobold, "Roboto";
  text-decoration: none;
}
.banner-btn a:hover{
  color: var(--violeta);
}

/* slide3 */

.slide-rigth-post{
  background-image: url("./assets/NUEVO_SLIDE/Banner\ post\ Venta\ ES\ Titulo.png");
}
.slide-left-post{
  background-image: url("./assets/NUEVO_SLIDE/vendido.png");
}

.slide-rigth-post-eng{
  background-image: url("./assets/NUEVO_SLIDE/Banner\ post\ Venta\ EN\ Titulo.png");
}
.slide-left-post-eng{
  background-image: url("./assets/NUEVO_SLIDE/sold.png");
}



/* SECTOR DEPRECADO: SUSCRIBE. Lo dejo para que quede listo para la implementacion */
/* .suscribe-title{
  color:var(--naranja);
  font-size: 2em;
  font-family: "Gobold", "Roboto Condensed";
  margin-left: 2rem;
}
.suscribe-input{
  height: 4rem;
  width: 40rem;
  margin: 2rem;
  padding: 1rem;
  font-size: 1.7rem;
  letter-spacing: 0.25rem;
  padding-left: 1.5rem;
  border-image:linear-gradient(45deg,var(--naranja),rgb(226, 197, 216)) 1.5;
}::placeholder{
  color: rgb(226, 197, 216);
  font-family: 'Roboto', sans-serif;
}
.btn{
  background-color: var(--violeta);
  color: white;
  height: 8rem;
  width: 11rem;
  font-size: large;
  border: none;
  font-family: Gobold, "Roboto";
  cursor: pointer;
  text-align: center;
}
.suscribe button{
  background-color: var(--violeta);
  color: white
}
.btn:hover{
  background-color: var(--violeta-claro);
} */
.slide-btn{
  height: 5rem;
}
/* animation */
.animate__slideInLeft, .animate__slideInRight{
  --animate-duration: 2s;
  --animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* ------------MEDIA QUERIES ------------------ */
@media only screen and (max-width: 1366px) and (min-width: 1024px) {  
  /* .banner-btn{
    position: absolute;
    top:0;
    margin-top: 10rem;
  } */
  .suscribe{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin-right: 13%;
    margin-top: 35%;
  } 
  .suscribe-title{
    font-size: 2em;
  }
  .suscribe button{
    width: 6rem;
    font-size: 1em;
  }
  .suscribe input{
    width: 20rem;
  }
  .banner-btn{
    position:absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
  }

}  
@media only screen and (max-width: 1680px) and (min-width: 1366px) { 
  .suscribe{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin-top: 30%;
    margin-right: 5%;
  } 
  .suscribe-title{
    font-size: 2.5em;
  }
 }
@media only screen and (max-width: 1920px) and (min-width: 1680px) { 
  .suscribe{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin-right: 10%;
    margin-top: 30%;
  } 
  .suscribe-title{
    font-size: 3em;
  }
 }
 @media only screen and (max-width: 2010px) and (min-width: 1920px) { 
  .suscribe{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    margin-right: 5%;
    margin-bottom: 15%;
 
  } 
  .suscribe button{
    width: 6rem;
    font-size: 1em;
  }
  .suscribe button a{
    font-size: 2em;
  }
 
  .suscribe-title{
    font-size: 3.5em;
  }
  .banner-btn{
    position:absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    margin-bottom: 10%;
  }
 }
